body {
  background-color: #000000;
				font-family: Helvetica, Arial, sans-serif;
				color: #ffffff;
			  padding: 0 15% 0 15%;
	text-align:center;
}
			h1{
			  text-align:center;
        color: #ff9696;
        text-shadow: 1px 1px #ffffff;
font-family:'DancingScriptRegular';
				font-size:800%;
}
         

p { 
   font-family: 'DancingScriptRegular'; 
   font-weight: normal; 
   font-style: normal;
   font-size:800%
    
}
p{
  text-align:center;
}


			li {
			  position: static;
				display: inline;
				padding: 0.5em;}

			#nav, #footer {
				background-color: #000000;
				padding: 0.5em 0;}z

			#feature{
				height: 10em;
				margin-bottom: 1em;
				background-color: #4b2e83;}
a{
   font-family: 'JelleeRoman'; 
   font-weight: normal; 
   font-style: normal; 
   color: #ffffff;
   text-shadow: 5px 2px #9696ff;	
}

	.photo{
 position:relative; 
 margin-left:10%;
 margin-right:10%;
 text-align:center;
 border-radius: 50%;
}

.clear {
clear:both;
}
