body {
  background-color: #000000;
				font-family: Helvetica, Arial, sans-serif;
				color: #ffffff;
			  padding: 0 15% 0 15%;
}
			h1{
			  text-align:center;
        color: #ff9696;
        text-shadow: 1px 1px #ffffff;
font-family:'DancingScriptRegular';
				font-size:800%;
}
         

p { 
   font-family: 'DancingScriptRegular'; 
   font-weight: normal; 
   font-style: normal;
   font-size:800%
    
}
p{
  text-align:center;
}


	.photo{
 position:relative; 
 margin-left:10%;
 margin-right:10%;
 text-align:center;
 border-radius: 50%;
}

.clear {
clear:both;
}
